.log_title  	{color :#4C4C4C; font-size: 13pt ; text-align: center; font-style: oblique;}
.log_content	{color :#4C4C4C; font-size: 13pt ; text-align: left; font-family: sans-serif;  height: 20px; background-color: #BFE0EC !important;}
.log_btn		{background-color :#FFF2E6; font-weight: bold; font-size: 13pt; text-align: center;  font-family: fantasy}